{% extends 'base.html' %}

{% block fnews_title %}Fake News Home Page{% endblock fnews_title %}

<!-- Write the code in fnews_content for homepage -->
{% block fnews_content %}


<div class="bar">


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Fake News</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>



<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12 text-center">
            <h1>Fake News Detection homepage</h1>
            <p class="lead mb40">Making the world a better place by detecting Fake news using Passive Aggressive Classifier.</p>

            <div class="container">
                <div class="form-group">
                    <label for="text"></label>
                    <h2>Enter URL here</h2>
                    <hr>
                    <input type="text" class="form-control" id="inputUrl" placeholder="Enter URL">
                    
                  </div
            </div>
            
            <!--  NOTE: pass function of the route you are intending to target.  -->
            <a class="btn btn-lg btn-primary" href="{{ url_for('results') }}">Go to Results Page</a>
        </div>

    </div>
</div>

{% endblock fnews_content %}